<li class="stream-item border-bottom">
    <div class="tele-post">
        <div class="content clearfix">
            <div class="stream-item-header">
                <img class="avatar" {{bind-attr src=picture}}>
                {{#if isUserRoute}}
                    <strong class="fullname">{{name}}</strong>
                {{else}}
                    {{#link-to "user" user}}<strong class="fullname">{{name}}</strong>{{/link-to}}
                {{/if}}
                {{#if isFollowingRoute}}
                    {{follow-button followUnfollow=followUnfollow action="follow"}}
                {{/if}}
            </div>
            {{#if text}}
                <p class="tweet-text">{{text}}</p>
                <p><span class="time">{{time}}</span>{{#if isCurrentUser}} - <label class="tele-link delete" {{action "delete" on="click"}}>Delete</label>{{/if}}</p>
            {{/if}}
            
        </div>
    </div>
</li>