<li class="stream-item border-bottom">
    <div class="tele-post">
        <div class="content clearfix">
            <div class="stream-item-header">
                <img class="avatar" {{bind-attr src=picture}}>
                {{#if isUserRoute}}
                    <strong class="fullname">{{name}}</strong>
                {{else}}
                    {{#link-to "user" user}}<strong class="fullname">{{name}}</strong>{{/link-to}}
                {{/if}}
                {{yield}}
            </div>
        </div>
    </div>
</li>