<ol class="stream-items">
  {{#each itemController="post"}}
  <li class="stream-item border-bottom">
    <div class="tele-post">
        <div class="content">
            <div class="stream-item-header">
                <img class="avatar" src="https://pbs.twimg.com/profile_images/3745958419/9999d627e55bde3c66ebf1682c5ce47a_bigger.png">
                <strong class="fullname">{{author.name}}</strong>        
            </div>
            <p class="tweet-text">{{text}}</p>
            <p><span class="time">{{time}}</span> - <label class="tele-link delete" {{action "delete" on="click"}}>Delete</label></p>
        </div>
    </div>
  </li>
  {{else}}
    <li class="empty-stream text-center"><h3>You have no posts... {{#link-to "dashboard"}}Want to add one?{{/link-to}}</h3></li>
  {{/each}}
</ol>