<ol class="stream-items">
  {{#each itemController="post"}}
    {{#user-post user=author isUserIndexRoute=isUserIndexRoute original_author=original_author}}
        <p class="tweet-text">{{text}}</p>
        <div>
            <span class="time">{{time}}</span>{{#if session.isAuthenticated}}{{#unless isCurrentUser}} &#149; <label class="tele-link" {{action "repost"}}>Repost</label>{{/unless}}{{#if isCurrentUser}} &#149; <label class="tele-link delete" {{action "delete"}}>Delete</label>{{/if}}{{/if}}
        </div>
    {{/user-post}}
    {{#if repostConfirm}}
        {{repost-confirmation yesRepost="yesRepost" noRepost="noRepost"}}
    {{/if}}
  {{else}}
    <li class="empty-stream text-center"><h3>{{currentUser}} has no posts... {{#if isCurrentUser}}{{#link-to "dashboard"}}Want to add one?{{/link-to}}{{/if}}</h3></li>
  {{/each}}
</ol>