{{partial "header"}}
<div class="container dashboard">    
    <div class="content-dashboard">
        <!-- Text Area for Dashboard -->
        <div class="row border-bottom">
            <div class="col-md-12">
                <form class="form-horizontal" role="form" {{action "postTweet" on="submit"}}>
                    <div class="form-group">
                        {{textarea class="dashboard-form-control" placeholder="Enter Post Here..." value=post rows="4" maxlength=maxLength}}
                    </div>
                    <div class="form-group">
                        <span class="left">{{wordCount}} Characters Left</span>
                        <button type="submit" class="btn btn-default right">Publish</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row text-center border-bottom">
            <h3 class="posts-heading">Latest Posts</h3>
        </div>
        <div class="stream-content">
            <ol class="stream-items"> 
            {{#each controller itemController="post"}}
                {{#user-post name=author.name user=author.id picture=author.picture}}
                    <p class="tweet-text">{{text}}</p>
                    <div>
                        <span class="time">{{time}}</span> &#149; <span class="tele-link" {{action "repost"}}>{{repostLink}}</span> &#149; <span class="tele-link" {{action "delete"}}>Delete</span>
                    </div>
                {{/user-post}}
                {{#if repostConfirm}}
                        {{repost-confirmation yesRepost="yesRepost" noRepost="unrepost"}}
                    {{/if}}
            {{else}}
                <li class="empty-stream text-center"><h3>There are no posts. :(</h3></li>
            {{/each}}
            </ol>
        </div>
    </div>
</div>