{{partial "header"}}
<div class="container dashboard">    
    
    <!-- Text Area for Dashboard -->
    <div class="row border-bottom">
        <div class="col-md-12">
            <form class="form-horizontal" role="form" {{action "postTweet" on="submit"}}>
                <div class="form-group">
                    {{textarea class="dashboard-form-control" placeholder="Enter Post Here..." value=post rows="4"}}
                </div>
                <div class="form-group">
                    <span class="left">140 Characters{{wordCount}}</span>
                    <button type="submit" class="btn btn-default right">Publish</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row text-center border-bottom">
        <h3 class="posts-heading">Latest Posts</h3>
    </div>
    <div class="stream-content">
        <ol class="stream-items"> 
        {{#each controller itemController="post"}}
        <li class="stream-item border-bottom">
        <div class="tele-post">
            <div class="content">
                <div class="stream-item-header">
                    <img class="avatar" src="https://pbs.twimg.com/profile_images/3745958419/9999d627e55bde3c66ebf1682c5ce47a_bigger.png">
                    <strong class="fullname">{{author.name}}</strong>        
                </div>
                <p class="tweet-text">{{text}}</p>
                <p><span class="time">{{time}}</span> - <label class="tele-link delete" {{action "delete" on="click"}}>Delete</label></p>
            </div>
        </div>
        
      </li>
        {{/each}}
        </ol>
    </div>
</div>