<header class="navbar text-center">
    {{#if session.isAuthenticated}}
    	{{#link-to "dashboard"}}<img src="/assets/images/home-btn.png" class="home-btn" {{action "invalidateModel"}}>{{/link-to}}
    	{{#link-to "dashboard"}}<img src="/assets/images/logo.png" class="logo">{{/link-to}}
    	{{#link-to "user" session.user.id}}
        <div class="user-links">
            <img {{bind-attr src=session.user.picture}} height=20 class="user-profile">
            <span class="name">{{session.user.name}}</span>
        </div>
        {{/link-to}}
        <span {{action "logOut" on="click"}}>LogOut</span>
    {{else}}
        {{#link-to "create-account"}}<img src="/assets/images/logo.png" class="logo">{{/link-to}}
    {{/if}}
</header>