{{partial "header"}}
<div class="content-main">
    <div class="user-info text-center border-bottom">
        <img {{bind-attr src=picture}}>
        <h4 class="user-name">{{name}}</h3>
        <p class="twitter-handle">@{{id}}</p>
        {{#if session.isAuthenticated}}{{#if isCurrentUser}}{{else}}<button {{action 'follow'}} type="button" class="tele-btn">{{followUnfollow}}</button>{{/if}}{{/if}}
    </div>
    <div class="stream-nav text-center border-bottom">
        <ul class="list-inline">
            <li class="tele-link user-nav">{{#link-to "user.index"}}Posts{{/link-to}}</li>
            <li class="tele-link user-nav">{{#link-to "user.following"}}Following{{/link-to}}</li>
            <li class="tele-link user-nav">{{#link-to "user.followers"}}Followers{{/link-to}}</li>
        </ul>
    </div>
    <div>{{outlet}}</div>
</div>